{% extends "base.html.j2" %}
{% block content %}
  <h2>PR search</h2>
  <form method="GET">
    <input name="exercise" type="text" placeholder="Exercise name" value="{{ request.args.get('exercise','') }}">
    <button type="submit">Search</button>
  </form>
  
  {% if rows %}
    <table>
      <thead>
        <tr>
          <th>Exercise</th>
          <th>Reps</th>
          <th>Weight</th>
          <th>Estimated 1RM</th>
        </tr>
      </thead>
      <tbody>
        {% for i, row in rows %}
          <tr class='table-row-{{ i % 2 }}'>
            <td><a href="/training-log?exercise={{ row[0] }}">{{ row[0] }}</a></td>
            <td class="table-number">{{ row[1] }}</td>
            <td class="table-number">{{ row[2] }}</td>
            <td class="table-number">{{ row[3] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
